torch 
torchvision 
torchaudio
transformers 
openai>=1.12.0
tiktoken
langchain>=0.1.7
chromadb 
zhipuai>=2.0.1
datasets>=2.16.1
jsonlines 
google-generativeai>=0.3.2
langchain_openai>=0.0.5
langchain-community>=0.0.19